<div class="card bg-base-100 w-96 shadow-xl">
  <figure class="px-10 pt-10">
    <img
      [src]="estudiante.image | imagePipe"
      [alt]="estudiante.name"
      class="h-72 w-full"
    />
  </figure>
  <div class="card-body items-center text-center">
    <h2 class="card-title text-2xl font-bold">
      {{ estudiante.name }} {{ estudiante.apellido }}
    </h2>
    <p>
      <strong >Cédula: </strong>{{ estudiante.cedula }}

    </p>
    <div class="space-y-1 text-sm">
      <p>
        <strong>Fecha de Nacimiento:</strong>
        {{ estudiante.fecha_nacimiento | date : "dd-MM-yyyy" }}
      </p>
      <p><strong>Género:</strong> {{ estudiante.genero }}</p>
    </div>
    <div class="card-actions justify-end mt-4">
      <button class="btn btn-primary">Editar</button>
      <button class="btn btn-error">Eliminar</button>
    </div>
  </div>
</div>
